html, body {
    height: 100vh;
background-color:lightgreen
  }
  
  #forma{
	
    margin: 50px auto;
    background-color: white;
 
  }
  #form1{
    padding: 2vw;
    padding-bottom: 0;
  }

  .form-group{
    padding-bottom: 2px;
  }


